@media(max-width: 1600px){
    #aheader{margin-left: 1160px;}
}

@media(max-width: 1358px){
    #aheader{margin-left: 909px;}
}

@media(max-width: 1357px){
    #aheader{margin-left: 700px;}
}

@media(max-width: 1140px){
    #aheader{margin-left: 600px;}
}

@media(max-width: 1040px){
    #aheader{margin-left: 500px;}
}

@media(max-width: 935px){
    #aheader{margin-left: 300px;}
}

@media(max-width: 750px){
    #aheader{margin-left: 100px;}
}

@media(max-width: 550px){
    #h2header{margin-left: 50px;}
    #aheader{margin-left: 100px;}
}

@media(max-width: 485px){
    #h2header{margin-left: 25px;}
    #aheader{margin-left: 30px;}
}

@media(max-width: 390px){
    #h2header{margin-left: 0;}
    #aheader{margin-left: 10px;}
}

@media(max-width: 300x){
    #h2header{margin-left: 25px;}
    #aheader{margin-left: 30px;}
}