*{margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;}

:root{--cor01: rgba(211, 211, 211, 0.233);
    --cor02: rgb(0, 89, 255);}
    
header{padding: 15px 0;
    background-color: var(--cor01);}

.header-flex{display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;}

.header-flex h1{text-transform: uppercase;
    font-size: 1.4em;}

.header-flex a{color: white;
    background-color: var(--cor02);
    padding: 15px;
    border-radius: 5px;}





.sec-1-padding{padding: 150px 0;
    background-image: url(imagens/ocean.jpg);
    background-size: cover;
    background-position: center center;}

.sec-1-padding h1{text-align: center;
    width: 95%;
    margin: auto;
    margin-bottom: 15px;
    font-size: 2.1em;}

.sec-1-flex{display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 95%;
    margin: auto;}

.sec-1-flex input{font-size: 1.1em;
    border: none;
    padding: 15px 30px 15px 15px;
    border-radius: 5px;
    background: rgb(255, 255, 255);}

.sec-1-flex a{color: white;
    margin-left: 10px;
    padding: 15px;
    background-color: var(--cor02);
    border-radius: 5px;
    font-size: 1.1em;}

@media(max-width: 372px){
    .sec-1-flex a{margin-top: 10px;}}

@media(max-width: 275px){
    .sec-1-flex input{padding: 15px 10px 15px 15px;}}





.sec-2-padding{padding: 100px 0;
    background-color: var(--cor01);}

.sec-2-flex{display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;}

.icons-config{margin: 15px 10px;}

.icons-config h1{margin: 10px 0;
    text-align: center;
    font-size: 1.7em;}

.icons-config p{text-align: center;
    font-size: 1.1em;} 

.icons{background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 80px;}

#icons-img-1{background-image: url(imagens/site.png);}

#icons-img-2{background-image: url(imagens/sheet.png);}

#icons-img-3{background-image: url(imagens/engine.png);}

@media(max-width: 625px){
    .sec-2-flex{flex-direction: column;}}





.sec-3-principal{}

.sec-3-principal h1{margin: 50px 0 15px 0;
    font-size: 1.7em;}

.sec-3-principal p{font-size: 1.1em;
    margin: 0 65px 50px 65px;}

.sec-3-config-1{display: flex;
    justify-content: center;
    align-items: center;}

.sec-3-config-2{display: flex;
    justify-content: center;
    align-items: center;}

.sec-3-config-3{display: flex;
    justify-content: center;
    align-items: center;}

.box-1{width: 50%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;}

.box-2{background-image: url(imagens/iphone.jpg);
    background-size: cover;
    background-position: center bottom;
    width: 50%;
    height: 400px;}


.box-3{background-image: url(imagens/codigos.jpg);
    background-size: cover;
    background-position: center bottom;
    width: 50%;
    height: 400px;}

.box-4{width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;}


.box-5{width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;}

.box-6{background-image: url(imagens/pc.jpg);
    background-size: cover;
    background-position: center bottom;
    width: 50%;
    height: 400px;}

@media(max-width: 700px){
    .sec-3-config-1{flex-direction: column-reverse;}

    .sec-3-config-2{flex-direction: column;}

    .sec-3-config-3{flex-direction: column-reverse;}

    .box-1, .box-2, .box-3, .box-4, .box-5, .box-6{width: 100%;}

    .sec-3-principal p{margin: 0 35px 50px 35px;}}





.sec-4-padding{padding: 100px 0;
    background-color: var(--cor01);}

.sec-4-flex{display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;}

.people-config{margin: 15px 10px;
    width: 32%;
    height: 290px;
    display: flex;
    flex-direction: column;
    align-items: center;}

.people-config h1{margin: 10px 0;
    text-align: center;
    font-size: 1.7em;}

.people-config p{text-align: center;
    font-size: 1.1em;} 

.people{width: 150px;
    height: 150px;
    border-radius: 50%;}

#people-img-1{background-image: url(imagens/um.jpg);
    background-size: cover;}

#people-img-2{background-image: url(imagens/dois.jpg);
    background-size: cover;}

#people-img-3{background-image: url(imagens/tres.jpg);
    background-size: cover;}

@media(max-width: 625px){
    .sec-4-flex{flex-direction: column;}
    .people-config{width: auto;
        height: auto;}}





.sec-5-padding{padding: 125px 0;
    background-image: url(imagens/ocean.jpg);
    background-size: cover;
    background-position: center center;}

.sec-5-padding h1{text-align: center;
    width: 95%;
    margin: auto;
    margin-bottom: 15px;
    font-size: 2.1em;}

.sec-5-flex{display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 95%;
    margin: auto;}

.sec-5-flex input{font-size: 1.1em;
    border: none;
    padding: 15px 30px 15px 15px;
    border-radius: 5px;
    background: rgb(255, 255, 255);}

.sec-5-flex a{color: white;
    margin-left: 10px;
    padding: 15px;
    background-color: var(--cor02);
    border-radius: 5px;
    font-size: 1.1em;}

@media(max-width: 372px){
    .sec-5-flex a{margin-top: 10px;}}

@media(max-width: 275px){
    .sec-5-flex input{padding: 15px 10px 15px 15px;}}

footer{padding: 40px 0;}

.footer-flex{display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: auto;}

.about{width: 50%;}

.about a{display: block;}

.about p{margin: 10px 0;}

.footer-icons{display: flex;
    justify-content: flex-end;
    width: 50%;}

.footer-1{background-image: url(imagens/facebook.png);
    height: 30px;
    width: 30px;
    background-size: contain;
    background-repeat: no-repeat;}

.footer-2{background-image: url(imagens/twitter.png);
    height: 30px;
    width: 30px;
    margin: 0 10px;
    background-size: contain;
    background-repeat: no-repeat;}

.footer-3{background-image: url(imagens/instagram.png);
    height: 30px;
    width: 30px;
    background-size: contain;
    background-repeat: no-repeat;}

@media(max-width: 530px){
        .footer-flex{flex-direction: column;}
        .footer-icons{justify-content: flex-start;}}


