@charset "UTF-8";

*{margin: 0;}

:root{--cor01: rgba(211, 211, 211, 0.192);
--cor02: rgb(0, 89, 255);}

header{background-color: var(--cor01);
padding-top: 10px;
padding-bottom: 10px;}

.header-1{display: flex;
align-items: center;
justify-content: space-between;
width: 90%;
margin: auto;}

#header-a1{font-size: 1.3em;
text-decoration: none;
color: black;}

#header-a2{text-decoration: none;
color: white;
background-color: var(--cor02);
padding: 15px;
border-radius: 5px;}





.ocean{width: 100%;
height: 500px;
background-image: url(imagens/ocean.jpg);
background-repeat: no-repeat;
background-size: cover;}

.ocean h1{width: 25;
margin: auto;
text-align: center;
font-size: 2.4em;
padding-top: 125px;
padding-bottom: 35px;}

.login{display: flex;
justify-content: center;}

.login input{font-size: 1.1em;
padding: 20px 100px 20px 25px;
border-radius: 5px;
border: none;}

.login a{padding: 20px;
margin-left: 10px;
background-color: var(--cor02);
border-radius: 5px;
text-decoration: none;
color: white;
font-size: 1.1em;}





.iconpadding{padding-top: 75px;
padding-bottom: 75px;
background-color: var(--cor01);}

.iconmargem{width: 90%;
margin: auto;}

.iconflex{display: flex;
flex-direction: row;}

.iconalign{width: 410px;
height: 200px;
margin: 0 15px 0 15px;}

#icon1{background-image: url(imagens/site.png);
background-position: center;
background-size: contain;
background-repeat: no-repeat;
height: 75px;}

#icon2{background-image: url(imagens/sheet.png);
background-position: center;
background-size: contain;
background-repeat: no-repeat;
height: 75px;}

#icon3{background-image: url(imagens/settings.png);
background-position: center;
background-size: contain;
background-repeat: no-repeat;
height: 75px;}

.iconh1{font-size: 1.7em;
text-align: center;
margin-top: 20px;}

.iconp{font-size: 1.1em;
text-align: center;
margin-top: 10px;}

@media(max-width: 650px){
    .iconflex{flex-direction: column;
        align-items: center;}}



   
        
.containerprincipal{width: 100%;}

.container{display: flex;
flex-direction: row;}

#box-1{width: 33.4%;
margin: auto;
padding: 112px;}

#box-1 h1{font-size: 2.2em;}

#box-1 p{text-align: justify;
line-height: 30px;
font-size: 1.1em;
margin-top: 10px;}

#box-2{width: 50%;
background-image: url(imagens/iphone.jpg);
background-size: cover;
background-repeat: no-repeat;
height: 480px;}

.container2{display: flex;
flex-direction: row;}

#box-3{width: 50%;
background-image: url(imagens/codigos.jpg);
background-size: cover;
background-repeat: no-repeat;
height: 480px;}

#box-4{width: 33.4%;
margin: auto;
padding: 112px;}

#box-4 h1{font-size: 2.2em;}

#box-4 p{text-align: justify;
line-height: 30px;
font-size: 1.1em;
margin-top: 10px;}


.container3{display: flex;
flex-direction: row;}

#box-5{width: 33.4%;
margin: auto;
padding: 112px;}

#box-5 h1{font-size: 2.2em;}

#box-5 p{text-align: justify;
line-height: 30px;
font-size: 1.1em;
margin-top: 10px;}

#box-6{width: 50%;
background-image: url(imagens/pc.jpg);
background-size: cover;
background-repeat: no-repeat;
height: 480px;}

@media(max-width: 900px){
.container{flex-direction: column-reverse;;}
#box-1{width: 33.4%;
    margin: auto;
    padding: 112px;}
#box-2{width: 100%;
    height: 480px;}

.container2{flex-direction: column;}
#box-3{width: 100%;
    height: 480px;}
#box-4{width: 33.4%;
    margin: auto;
    padding: 112px;}

.container3{flex-direction: column-reverse;}
#box-5{width: 33.4%;
    margin: auto;
    padding: 112px;}
#box-6{width: 100%;
    height: 480px;}}





.peoplepadding{padding-top: 80px;
    padding-bottom: 80px;
    background-color: var(--cor01);}

.peoplemargem{width: 90%;
    margin: auto;}

.peopleflex{display: flex;
    flex-direction: row;}

.peoplealign{width: 410px;
    height: 300px;
    margin: 0 15px 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;}

#people1{background-image: url(imagens/um.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 150px;
    width: 150px;
    border-radius: 50%;}

#people2{background-image: url(imagens/dois.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 150px;
    width: 150px;
    border-radius: 50%;}

#people3{background-image: url(imagens/tres.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 150px;
    width: 150px;
    border-radius: 50%;}

.peopleh2{text-align: center;
    margin-bottom: 50px;
    font-size: 1.7em;}

.peopleh1{font-size: 1.7em;
    text-align: center;
    margin-top: 20px;}

.peoplep{font-size: 1.1em;
    text-align: center;
    margin-top: 10px;}

@media(max-width: 1150px){
    .peoplemargem{width: 100%;
    margin: auto;}}

@media(max-width: 650px){
    .peopleflex{flex-direction: column;
        align-items: center;}}




.ocean2{width: 100%;
    height: 350px;
    background-image: url(imagens/ocean.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;}

.ocean2 h1{text-align: center;
    font-size: 2.4em;
    padding-top: 75px;
    padding-bottom: 35px;}

.login2{display: flex;
    justify-content: center;}

.login2 input{font-size: 1.1em;
    padding: 20px 100px 20px 25px;
    border-radius: 5px;
    border: none;}

.login2 a{padding: 20px;
    margin-left: 10px;
    background-color: var(--cor02);
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    border-radius: 5px;}





footer{padding: 80px;}

.info{display: flex;
    justify-content: space-around;}

.footernav, .footericon{width: 50%;}

.footernav a{margin: 10px;}

.footernav p{margin-left: 10px;
    margin-top: 16px;}

.footericon{display: flex;
    justify-content: flex-end;
    align-items: center;}

#logo1{background-image: url(imagens/facebook.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 30px;
    width: 30px;}

#logo2{background-image: url(imagens/twitter.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 45px;
    width: 30px;
    margin: 0 5px 0 5px;}

#logo3{background-image: url(imagens/instagram.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 30px;
    width: 30px;}
